/**样式表***/
body{
	background: #dcdcdc;
	font-family: "微软雅黑";	
}
header{
	margin:0 auto;
	padding: 5px;
	border-radius:2px;
	border:1px solid #fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: #2E8E94;
	color:#fff;
	box-shadow: 0 0 1px 1px #fff;
}
.list{
	position: relative;
	list-style: none;
	width: 98%;
	margin: 0 auto;
	text-align:center;
	padding: 0px;
	margin:10px 0 0 0;
}

.list li{
	padding: 0px;
	list-style: none;
	width: 200px;
	height: 200px;
	display: inline-block;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 100px;
}
/* 第一个 */
.list li:nth-child(1){
	background-image:url("img/01.jpg"); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 0 100px rgba(255,255,255,.3) inset;
	-webkit-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-moz-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-o-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-ms-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
}

.list li:nth-child(1):hover{
    background-image:url("img/02.jpg"); 
    box-shadow: 0px 0px 0 0px rgba(255,255,255,.3) inset;
}

.list li:nth-child(1) div{
	position: absolute;
	background: rgba(63, 147, 147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	text-transform: uppercase;
}

.list li:nth-child(1):hover  div{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	text-transform: uppercase;
};

/*--第二个--*/

.list li:nth-child(2){
	background-image:url("img/01.jpg"); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 0 100px rgba(255,255,255,.3) inset;
	-webkit-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-moz-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-o-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	-ms-transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
	transition: background-image .8s ease-in .1s,box-shadow .8s ease-in .1s;
}

.list li:nth-child(2):hover{
    background-image:url("img/02.jpg"); 
    box-shadow: 0px 0px 0 0px rgba(255,255,255,.3) inset;
}
.list li:nth-child(2) div{
	position: absolute;
	background: rgba(63, 147, 147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-backface-visibility: hidden;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	line-height: 200px;
	text-transform: uppercase;
}
.list li:nth-child(2):hover  div{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(10);
	text-transform: uppercase;
};

